# Android / Gradle
.gradle/
**/build/
local.properties

# Signing
*.jks
*.keystore
key.properties

# IDE
.idea/
*.iml
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Native
.externalNativeBuild/
.cxx/

# Others